body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #222;
    color: white;
}
